*,*::after,*::before {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.menu {
  padding: 2rem;  
  background-color: goldenrod;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  right : 0 ;
  left: 0;
  transition: all 200ms ease-in-out;
}
.menu__item {

}
.menu__link {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
p {
    font-size: 3rem;
}
#scroller {
    width: ;
    z-index: 3;
    height: 0.5rem;
    position: fixed;
    background-color: red;
}

.handler {
    opacity: 0;
}
.sperator {
    margin: 10rem 0;
    padding: 1rem;
    border: 3px solid red;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}
.title {
    font-size: 4rem;
    text-shadow: 0 0 1rem red;
    margin: 1rem 0 ;
    text-align: center;
}
.spec {
    width: 10rem;
    flex-grow: 1;
    font-size: 5rem;
    text-shadow: 0 0 2rem blueviolet;
    text-align: center;
}